* {
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

body {
    overflow: hidden;
}

.hidden {
    display: none !important;
    opacity: 0;
}

.invisible {
    visibility: hidden;
}

.content {
    display: flex;
    flex-direction: column;
    padding: 0 8vw;
}

.no-clickable {
    pointer-events: none;
}

.lamp {
    display: flex;
    justify-content: center;
    min-height: 30vw;
}

.lamp svg {
    width: 30vw;
    height: 30vw;
    opacity: 0;
    transform: rotate(180deg) translateY(3vw);
    transition: 1s;
}

.visible {
    transition: 1s;
    opacity: 1 !important;
}

.message {
    width: 0;
    max-height: 40vw;
    min-height: 15vw;
    overflow: scroll;
    border: 1px solid rgba(0, 0, 0, 0.5);
    border-radius: 2vw;
    padding: 0;
    margin-bottom: 4vw;
    transition: 0.3s;
    font-size: 5vw;
}

.spider {
    height: 40vh;
    display: flex;
    justify-content: center;
}

.dance_floor {
    animation: dance_floor 2s infinite;
}

.dance {
    animation: dance 2s infinite;
}

.light {
    position: absolute;
    z-index: -20;
    width: 90vw;
    border-radius: 50%;
    height: 90vw;
    background: rgb(0, 255, 214);
    background: radial-gradient(circle, rgba(0, 254, 175, 1) 0%, rgba(0, 0, 0, 0) 75%);
    animation: light 1s infinite;
}

@keyframes light {
    0% {
        transform: scale(1) translateY(-8vw);

    }
    50% {
        transform: scale(0.9) translateY(-8vw);
    }
    100% {
        transform: scale(1) translateY(-8vw);
    }
}

.space {
    width: 2vw;
}

.spider img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.family {
    position: absolute;
    bottom: 2vw;
    display: flex;
    justify-items: center;
}

.f-spider {
    width: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.f-spider img {
    width: 18vw;
    height: 15vw;
    object-fit: contain;
}

.f-spider input {
    width: 90%;
    font-size: 6vw;
    text-align: center;
}

@keyframes dance_floor {
    0% {
        background-color: red;
    }
    15% {
        background-color: orange;
    }
    30% {
        background-color: yellow;
    }
    45% {
        background-color: lawngreen;
    }
    65% {
        background-color: dodgerblue;
    }
    80% {
        background-color: blue;
    }
    95% {
        background-color: blueviolet;
    }
    100% {
        background-color: red;
    }
}

@keyframes dance {
    10% {
        rotate: 10deg;
        transform: scale(1.2);
    }
    20% {
        rotate: -15deg;
        transform: scale(0.8);
    }
    30% {
        rotate: 15deg;
        transform: scale(1);
    }
    40% {
        rotate: 35deg;
        transform: scale(0.7);
    }
    50% {
        rotate: 10deg;
        transform: scale(1.3);
    }
    60% {
        rotate: 70deg;
        transform: scale(0.6);
    }
    70% {
        rotate: -57deg;
        transform: scale(1.1);
    }
    80% {
        rotate: -90deg;
        transform: scale(0.8);
    }
    90% {
        rotate: 80deg;
        transform: scale(1.3);
    }
    100% {
        rotate: 0deg;
        transform: scale(0.9);
    }
}

@keyframes letter {
    0% {
        opacity: 0;
        transform: translateY(-15px)
    }
    100% {
        opacity: 1;
        transform: translateY(0px)
    }
}

.message div {
    animation: letter 0.5s;
    display: inline-block;
}

.talk {
    animation: talk 1.5s infinite;
}

input {
    border: 2px solid #3d3d3d;
}

input:valid {
    border-color: #00ffd6;
}

@keyframes talk {
    10% {
        transform: scale(1.05);
        rotate: 3deg;
    }
    20% {
        transform: scale(1);
        rotate: -3deg;
    }
    30% {
        transform: scale(1.05);
        rotate: 3deg;
    }
    40% {
        transform: scale(1);
        rotate: -3deg;
    }
    50% {
        transform: scale(1.05);
        rotate: 3deg;
    }
    60% {
        transform: scale(1);
        rotate: -3deg;
    }
    70% {
        transform: scale(1.05);
        rotate: 3deg;
    }
    80% {
        transform: scale(1);
        rotate: -3deg;
    }
    90% {
        transform: scale(1.05);
        rotate: 3deg;
    }
    100% {
        transform: scale(1);
        rotate: -3deg;
    }
}